<!-- Header matching the image -->
<header class="header">
    <a href="search.html" class="logo">
        <img src="images/Logo.png" alt="Uniclarity">
    </a>
    
    <!-- Navigation Menu -->
    <nav class="nav-menu">
        <a href="search.html" class="nav-link">Cerca</a>
        <a href="#my-documents" class="nav-link">I Miei Documenti</a>
        <a href="#forum" class="nav-link">Forum</a>
    </nav>
    
    <div class="auth-buttons">
        <div class="divider"></div>
        <a href="upload.html" class="nav-link">Carica</a>
        <div class="user-info">
            <div class="user-avatar" id="userAvatar">
                <!-- Login button will be inserted here by JavaScript when user is not authenticated -->
            </div>
            <div class="user-dropdown" id="userDropdown">
                <div class="dropdown-user-info">
                    <div class="dropdown-avatar" id="dropdownAvatar"></div>
                    <div class="dropdown-user-details">
                        <span class="dropdown-user-name" id="dropdownUserName"></span>
                        <span class="dropdown-user-email" id="dropdownUserEmail"></span>
                    </div>
                </div>
                <div class="dropdown-divider"></div>
                <a href="upload.html" class="dropdown-item">
                    <i class="material-symbols-outlined">upload</i>
                    <span>Upload File</span>
                </a>
                <a href="#" class="dropdown-item" id="userFavorites">
                    <i class="material-symbols-outlined">favorite</i>
                    <span>My Favorites</span>
                </a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item" id="logoutBtn">
                    <i class="material-symbols-outlined">logout</i>
                    <span>Logout</span>
                </a>
            </div>
        </div>
    </div>
</header>